<body onload="showResult('target');">
  <div class="container">
    <h1 class="text-center">Calculatrice</h1>
  </div>

  <div class="container calculator">

    <div class="row">

      <div class="col-4">
      </div>

      <div class="col-4 bg-dark">
        <div class="row inner result text-right row-first">
          <div class="col-8 screen" id="target"></div>
        </div>

        <div class="row inner">
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="7" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="8" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2 ">
            <input type="button" class="btn btn-secondary" value="9" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-primary" value="+" id="add()" onclick="inputAction(id)" />
          </div>
        </div>

        <div class="row inner">
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="4" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="5" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="6" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-primary" value="-" id="substract()" onclick="inputAction(id)" />
          </div>
        </div>

        <div class="row inner">
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="1" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="2" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="3" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-primary" value="*" id="multiply()" onclick="inputAction(id)" />
          </div>
        </div>

        <div class="row inner">
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="0" onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-secondary" value="." onclick="inputValue(value); showBuffer('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-danger" value="AC" onclick="resetAll(); showResult('target');" />
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-primary" value="/" id="divide()" onclick="inputAction(id)" />
          </div>
        </div>

        <div class="row inner row-last">
          <div class="col-3">
            <input type="button" class="btn btn-success" value="RESULT" onclick="inputResult(); showResult('target');"/>
          </div>
        </div>
      </div>

      <div class="col-4">
      </div>

    </div>

  </div>

</body>
